$red:#BF1616;
body{
	background-color: #eee;
}
header{
	padding: 1em;
	nav{
		ul{
			padding-left: 50px;
			li{
            display: inline-block;
            padding: 1em;
            background-color: $red;
            color: #fff;
			}
		}
	}
}
#main{
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
	padding: 1em;
}